#grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
}

.grid-item {
    outline: 1px solid red;
}

.grid-item:hover {
    background-color: blue;
}

#change-layout {
    margin: 5px;
}